/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');



/* general settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'dosis',sans-serif;
}

a{
    text-decoration: none;
    color: black;
}




/* header */


.header{
    background-color: #948d8d;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #eae2e2;
    
}
.main_title{
    font-size: 50px;
}

.navbar .nav_menu{
    display: flex;
    
}

.nav_menu li{
   margin-left: 15px;
   font-size: 25px;
   color: #eae2e2;

}

.nav_menu li:hover{
    color: black;
    transition: 0.5s;
}


